{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "./utils",
        "controllers": "./controllers",
        "models": "./models",
        "routes": "./routes"
      }
    }]
  ]
}
